**/node_modules/ 
**/.env/ 
**/.idea/ 
**/misc/ 
misc/
.idea/
**/.venv/ 
**/__pycache__/ 
__pycache__/ 
.env/
myenv
myenv/
SemanticSearchMoviesAtlasDB/.env
**/SemanticSearchMoviesAtlasDB/.env
**/.env
**/ImageAi/.env
**/ImageAi/data
**/ImageAi/.venv
ImageAi.rar